html, body {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  color: #333;
  font-family: sans-serif;
}

h1, h2 {
  margin: 0;
  padding-top: 10px;
}

h2 {
  color: #666;
}

#chart {
  display: block;
  margin: 0 auto;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
